# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.obsidian/

# Python
__pycache__/
*.pyc

# Logs
*.log

# Environment
.env
.venv/
venv/

# Database
*.sqlite
*.db

# Outputs (keep folder only)
outputs/*
!outputs/.gitkeep

# Raw data (keep folder only)
00_data/01_raw/*
!00_data/01_raw/.gitkeep

# Other data folders
00_data/02_staging_data/
00_data/03_dashboard_data/